.link {
  display: inline-flex;
  justify-content: center;
  gap: 10px;

  margin-bottom: 10px;
  box-shadow: 2px 2px 5px 1px #5858c7;
  border-radius: 8px;
  padding: 7px 10px;
  text-decoration: none;

  background-color: aliceblue;

  transition: transform 250ms linear;
}

.link:focus,
.link:hover {
  transform: scale(1.05);
}
