.header {
  padding: 10px;
  border-bottom: 2px solid #808080;
  margin-bottom: 20px;
}

.nav {
  display: flex;
  gap: 10px;
}

.link {
  padding: 5px 10px;
  color: #ffffff;
  background-color: #fa8072;
  border-radius: 4px;
  text-decoration: none;
}

.link:global(.active) {
  background-color: #8a2be2;
}
